.products {
  width: 100%;
  margin: auto;
}

.products ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 0;
}

.products li {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0, 0, 10px, 10px rgba(0, 0, 0, .1);
  border-radius: 4px;
  background-color: #111;
  color: #fff;
  padding: 1rem;
}

.products img {
  border-radius: 4px;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  display: block;
  background-color: #fff;
}

.removeFromCart:hover {
  background-color: #f00;
  border-color: #fff;
  transition: .08s;
}

.addToCart:hover {
  background-color: #16f;
  border-color: #f0f8ff;
  transition: .08s;
}